/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 May 2025, 12:33:00
    Author     : paulc
*/
@font-face {
    font-family: MaaxMono;
    src: url("../assets/font/205TF-MaaxMono-Regular.otf") format("opentype");
}
body{

    background: #000000;
    width:1440px;margin:auto 
}
#centre-content p {font-size:1.2rem;line-height:25px;margin:25px 30px 0px 30px }
#right-content p {margin-left:30px;margin-top:30px;margin-right:30px}
#menu .btn {width:120px;height:30px;margin:20px 30px 0px 30px}
#menu .btn-first {width:120px;height:30px;margin:30px 30px 0px 30px}

#second-menu {margin-left:30px;margin-top:30px}
#second-menu p {margin-bottom:5px;font-weight:700;text-transform: uppercase;}
#second-menu p a{text-decoration:none;font-weight:normal;color:black;text-transform: none;}

#vacancy #right-content {background: #D9D9D9}

#aboutus #centre-content {background: #847DAC;}
#aboutus #right-content {background: #D9D9D9;}
#proj #right-content {background: #D9D9D9;}


#programme #centre-content {background:#765757}
#involved #centre-content {background:#9B5C99}


#right-content div.colleague-details p {text-transform:uppercase;font-size:1rem;margin-top:20px}
#right-content div.colleague-info p {text-transform:none;font-size:0.8rem}
.colleague-image {width:310px}



div.colleague { width:310px}
#right-content p{ margin:0px 0px 0px 0px}
.btn-general
{
    background-color: #D9D9D9;
    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-first
{
    background-color: #BFE600;
    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-second
{
    background-color: #765757;
    ;
    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-third
{
    background-color: #9B5C99;

    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-forth
{
    background-color:  #847DAC;

    border-radius: 0 !important;
    border: 1px solid black;
}

.content-first
{

    background-color: #BFE600;
}

.content-second
{

    background-color: #765757;
}
.image-first
{
    width:210px;
    margin:10px 10px 10px 10px;
}
.image-second
{
    width:180px;
    margin:10px 10px 10px 10px;
}
.image-third
{
    width:150px;
    margin:10px 10px 10px 10px;
}
.image-forth
{
    width:240px;
    margin:10px 10px 10px 10px;
}
.image-fifth
{
    width:120px;
    margin:10px 10px 10px 10px;
}

#map {
    height: 100%;
}

.colleague {width:150px}