/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 May 2025, 12:33:00
    Author     : paulc
*/
@font-face {
    font-family: MaaxMono;
    src: url("../assets/font/205TF-MaaxMono-Regular.otf") format("opentype");
}
body{

    background: #000000;
    
}
.button_group{margin-left:30px;margin-top:30px}

#centre-content{padding-left:0px;padding-right:0px}

#centre-content p {font-size:1.2rem;line-height:25px;margin:25px 30px 0px 30px }
#right-content p {margin-left:30px;margin-top:30px;margin-right:30px}


#menu .btn {width:120px;height:30px;margin:20px 30px 0px 30px}
#menu .btn-first {width:120px;height:30px;margin:30px 30px 0px 30px}

#second-menu {margin-left:30px;margin-top:30px}
#second-menu p {margin-bottom:5px;font-weight:700;text-transform: uppercase;}
#second-menu p a{text-decoration:none;font-weight:normal;color:black;text-transform: none;}

#involved #right-content, #aboutus #right-content,#vacancy #right-content,#programme #right-content,#proj #right-content,#involved #right-content {background: #D9D9D9}

#aboutus #centre-content {background: #847DAC;}
#programme #centre-content {background:#765757}
#involved #centre-content {background:#9B5C99}

#programmes {margin-left:10px}
.programme-item-col {padding:0px}
.programme-item-detail {padding:0px}

#right-content #projects p{text-transform:uppercase;margin-bottom:5px} 
#proj #right-content #projects p a{text-transform:uppercase;} 

#projectdetail img {width:100%}
#projectdetail table td {text-align:left;vertical-align:top}

#projectdetail #projectImages img {margin-top:10px};

#right-content div.colleague-details p {text-transform:uppercase;font-size:1rem;margin-top:20px}
#right-content div.colleague-details h3 {text-transform:uppercase;font-size:1.2rem;margin-top:20px}
#right-content div.colleague-info p {text-transform:none;font-size:0.8rem}
.colleague-image img {
  width: 100%;
}

.colleague {margin-top:30px}
#proj #right-content p a {
    text-decoration: none;
    font-weight: normal;
    color: black;
    text-transform: none;
}

//div.colleague { width:310px;max-width:310px}
#right-content p{ margin:0px 0px 0px 0px}
#vacancy #right-content p{ margin:30px 30px 30px 30px;font-size:0.8rem}
.btn-general
{
    background-color: #D9D9D9;
    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-first
{
    background-color: #BFE600;
    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-second
{
    background-color: #765757;
    ;
    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-third
{
    background-color: #9B5C99;

    border-radius: 0 !important;
    border: 1px solid black;
}
.btn-forth
{
    background-color:  #847DAC;

    border-radius: 0 !important;
    border: 1px solid black;
}

.content-first
{

    background-color: #BFE600;
}

.content-second
{

    background-color: #765757;
}
.image-first
{
    width:280px;
    margin:10px 10px 10px 10px;
}
.image-second
{
    width:260px;
    margin:10px 10px 10px 10px;
}
.image-third
{
    width:150px;
    margin:10px 10px 10px 10px;
}
.image-forth
{
    width:280px;
    margin:10px 10px 10px 10px;
}
.image-fifth
{
    width:290px;
    margin:10px 10px 10px 10px;
}

.image-sixth
{
    width:170px;
    margin:10px 10px 10px 10px;
}
.image-seventh
{
    width:170px;
    margin:10px 10px 10px 10px;
}
.image-eigth
{
    width:120px;
    margin:10px 10px 10px 10px;
}

#map {
    height: 100%;
}




.programme-item-col
{
    border-top:1px solid #000000;
    
}